header {
    background-color: #555555;
    width: 100%;
    margin-bottom: 20px;
}
header nav ul{
    list-style: none;
    text-align: center;
    padding: 10px;
}
header nav ul li{
    display: inline;
    padding: 20px;
    vertical-align: middle;
    line-height: 50px;
}
header nav ul li a{
    text-decoration: none;
    color: #bfafaf;
    font-weight: bold;
}
main{
    margin: auto;
    width: 90%;
    margin-bottom: 100px;
}
#hero{
    text-align: center;
    margin-bottom: 20px;
}
#content{
    width: 100%;
    text-align: center;
}
#content div{
    display: inline-block;
    padding: 13px;
    margin-bottom: 20px;
}

article{
   width: 90%;
   margin-left: 210px;
   
}
article img{
  display: inline;
  float: left;
}

article h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
article div{
    max-height: 300px;
    overflow: scroll;
    scroll-snap-type: none;
    padding-left: 20px;
    width: 38%;
    height: max-content;
    margin-bottom: 10px;
}
article div p{
    line-height: 1.2;
    display: inline-block;
    font-size: 25px;
    box-sizing: content-box;

}
article  button{
 background-color: #222222;
 color:  #f2f2f2;
 padding: 15px 30px;
 margin-top: 15px;
 margin-left: 20px;
}
article  button:hover{
    background-color: #555555;
}
footer{
    clear: both;
    height: 50px;
    background-color: #555555;
    width: 100%;
}
::-webkit-scrollbar {
    display: none;
}